/* Add app-wide styles here */
body {
  background-color: #1E2A38;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1E2A38;
  z-index: 9999;
}