<nav class="navbar">
  <div class="navbar-brand" routerLink="/home" style="cursor: pointer;">
    <img src="assets/logo-transperent-small.png" alt="{{ 'APP.NAME' | translate }}" class="logo-img">
  </div>
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">{{ 'HEADER.HOME' | translate }}</a></li>
    <li *ngIf="showCars"><a routerLink="/cars" routerLinkActive="active">{{ 'HEADER.MODELS' | translate }}</a></li>
    <li><a routerLink="/services" routerLinkActive="active">{{ 'HEADER.SERVICES' | translate }}</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active">{{ 'HEADER.ABOUT_US' | translate }}</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active">{{ 'HEADER.CONTACT_US' | translate }}</a></li>
  </ul>
</nav>