.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0D0D0D;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 60px;
  height: 100%;
}

.logo-img {
  margin: 5px 20px 2px 30px;
  height: 80px;
  width: auto;
  display: block;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 100px; /* Increased gap for better spacing */
}

.nav-links li {
  margin-left: 0; /* Remove default margin */
}

.nav-links a {
  text-decoration: none;
  color: #C0C0C0;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: normal;
  font-size: 1.9em; /* Increased font size */
  padding: 5px 0;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #C0C0C0; /* Keep text white */
  border-bottom: 2px solid #E10600; /* Red underline for active/hover */
}
